.hero-heading {
padding: 32% 0 68% 0;
  text-align: center;
  }

  .et {

  background-image:url("https://sardinka.org/eternity/images/bg2.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment:fixed;
  color: black;
  background-color: black;
  width: 50%;
  float: left;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 0px;
  }
    .sr {

    background: url("https://sardinka.org/eternity/images/bg.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment:fixed;
  color: black;
  background-color: black;
  width: 50%;
  float: left;
  box-sizing: border-box;
    margin: 0 auto;
  padding: 0 0px;

  }
